ul.tabs.primary {
    display: none;
}

#edit-field-dealer-location-und-0-geom {
    margin: 0px;
    border: none !important;
    border-top: 0px;
    padding: 0px;
    box-shadow: none;
}

/* Distributors Styling Control */

.partners__content.distributor__content p, .distributor__content .description {
    font-size: 12px;
    line-height: 1.4;
    margin: 10px 0px;
}

.distributor__content .field-name-field-dealer-info .filter-wrapper {
    display: none;
}

.distributor__content .tabledrag-toggle-weight-wrapper {
    display: none;
}

.distributor__content .field-type-office-hours table tr td:nth-child(2) {
    display: none;
}

.distributor__content .field-type-office-hours table tr td {
    border: 0px;
}

.distributor__content .office-hours-block {
    margin: 0px;
}

.distributor__content #field-opening-hours-values th label {
    padding-left: 5px
}

.distributor__content input[type="text"][disabled], .distributor__content textarea[disabled] {
    border: none;
    background-color: rgba(0,0,0,0.1);
    cursor: not-allowed;
}

.distributor__content .radio input[type="radio"], .radio-inline input[type="radio"], .distributor__content .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin: 4px 0 0;
}

.distributor__content .collapsible {
    padding: 20px 0px;
}

.distributor__content .error, .distributor__content table tr.error {
    background-color: transparent !important;
}

.distributor__content .error label, .distributor__content table tr.error label {
    color:  red;
}

.distributor-user__content #edit-locale {
    display: none;
}

.distributor-user__content #edit-timezone {
    display: none;
}